<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Catagory</title>
</head>
<body>

<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Striped Table</h4>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                           Catagory Name
                          </th>
                          <th>
                            Description
                          </th>
                          <th>
                            Image
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}

                        <tr>
                          <td>
                            {{i.name}}
                          </td>
                          <td>
                            {{i.description}}
                          </td>
                          <td>
                            <img src="{{i.image.url}}" height="50px" width="50px">
                          </td>

                          <td>
                            <form action="{% url 'cat_edit' dataid=i.id  %}">
                              <button type="submit" class="btn btn-primary mr-2">Edit</button>
                            </form>
                          </td>
                          <td>
                            <form action="{% url 'delete_cat' dataid=i.id %}">
                              <button type="submit" class="btn btn-outline-light btn-fw">Delete</button>
                            </form>
                          </td>
                        </tr>

                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}' , '' , 'warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}' , '' , 'error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}' , '' , 'success')
            </script>
        {% else %}
            <script>
                swal('{{i}}' , '' , 'info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}